---
import Navigation from "./Navigation.astro";
import InstagramLink from "./InstagramLink.astro";
---

<header class="mainHeader wrapper">
  <div class="mainTitle">My Work</div>
  <Navigation />
</header>

<style>
  .mainHeader {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
  }
  .mainTitle {
    width: 120px;
  }
</style>
